h4{
    color:red;
    background:yellow;
    border:1px solid black
}
#a{
    color=red;
    background:white;
}
#image{
    width:100px;
    height:100px;
}
#box{
    color:coral;
    background:blue;
    width:500px;
    margin:50px auto;
    padding:20px;
}
body{
    background:yellow;
}